package-lock=true
@babel:registry=https://registry.npmjs.org
@samverschueren:registry=https://registry.npmjs.org/
@sindresorhus:registry=https://registry.npmjs.org
@types:registry=https://registry.npmjs.org
@sindresorhus:registry=https://registry.npmjs.org
@webassemblyjs:registry=https://registry.npmjs.org
@xtuc:registry=https://registry.npmjs.org
@zoxon:registry=https://registry.npmjs.org/
