@import "./_core/_base/_main/_reset.styl"
@import "./_core/_mixins.styl"
@import "./_core/_variables.styl"
@import "../modules/modal"

$mobile = 480px
$tablet = 768px
$desktop = 960px

@font-face {
    font-family: 'Roboto Medium';
    src: url('../fonts/Roboto/Roboto-Medium.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Regular';
    src: url('../fonts/Roboto/Roboto-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

*
  box-sizing border-box

a
  text-decoration: none
  color: white
  font-size: 16px
  line-height: 24px
  white-space: pre

dl
  margin: 0
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0

dt
  width: 70%
  float: left
  color: #717171
  padding: 0;
  margin: 0

dd
  float: right
  // width: 30%
  padding: 0;
  margin: 0
  +above($desktop)
    float: left
    width: 30%

.button
  padding: 10px 30px;
  text-align: center
  background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
  border: none
  border-radius: 50px;
  user-select: none;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  text-decoration: none;
  white-space: pre;
  &:hover
    background linear-gradient(94.78deg, #c54037 11.19%, #651766 93.72%);
  &:active
    box-shadow: 2px 3px 10px #464646;

.button--purple
    background linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    &:hover
      background linear-gradient(94.26deg, #9765cf 9.51%, #634dff 90.23%);
    &:active
      box-shadow: 2px 3px 10px rgb(0 0 0 / 50%);

body
  margin 0
  background-color: rgb(0, 0, 0)
  font-family: "Roboto Regular";
  color: white

.page-section
  background: url(../images/figma-templates-1/bgc-main-min.png) no-repeat;

.page-section__inner
  max-width: 1376px;
  margin: 0 auto;
  padding: 42px 42px;

.section-title
  font-size: 48px;
  line-height: 67px;
  font-family: "Roboto Medium";
  letter-spacing: 0em;
  font-style: normal;

.logo
  img
    Width 40px

.page-section--intro
    .page-section__inner
      background url(../images/figma-templates-1/main-screen__bgc-min.jpg) no-repeat -793px 0
      min-height: 830px
      padding-bottom: 100px;
      max-width: 1920px;
      padding: 0
      +above(1116px)
        background url(../images/figma-templates-1/main-screen__bgc-min.jpg) no-repeat -534px 0
      +above(1380px)
        background url(../images/figma-templates-1/main-screen__bgc-min.jpg) no-repeat -327px 0
      +above(1600px)
        background url(../images/figma-templates-1/main-screen__bgc-min.jpg) no-repeat

.page-section
  max-width 1920px
  margin: 0 auto

.section-title--left-decoration-circle
  padding-left: 128px
  position: relative
  &:before
    position: absolute;
    content: "";
    background: url("../images/figma-templates-1/Ellipse-1-Stroke.png") 0 0 no-repeat;
    background-size: 78px;
    width: 80px;
    height: 80px;
    top: 0;
    left: 0;

//global end

.page-header
  display: flex
  justify-content: space-between
  line-height: 24px
  padding: 40px 80px 0 80px
  margin-bottom: 190px;

.page-header__logo
  margin-right: 26px

.header-menu
  display: none
  +above($desktop)
    display: flex

.page-header__menu
  display: flex
  align-items: center

.header-menu__item
  margin-right: 0px;
  +above(960px)
    margin-right: 6px;
  +above(1116px)
    margin-right: 20px;
  +above(1380px)
    margin-right: 40px;
  &:last-child
    margin-right: 0
  a
    padding: 8px

.page-header__actions
  // display: flex
  align-items: center

.page-header__actions
  padding-left: 34px;
  +above(1116px)
    padding-left: 60px;
  +above(1380px)
    padding-left: 200px;
  +above(1600px)
    padding-left: 270px;
    
.intro-titles
  .section-title
    font-size: 44px;
    line-height: 60px;
    padding: 0 0 0 100px;
    text-align: left;
    margin-bottom: 50px
    +above($desktop)
      padding: 0 0 0 160px;
      font-size: 54px;
      line-height: 75px;
    +above(1380px)
      padding: 0 0 0 160px;
      font-size: 64px;
      padding: 0 0 0 312px;

.time-counters
  display: flex
  padding-left: 160px
  +above(1380px)
    padding: 0 0 0 312px;

.time-counters__item
  margin-right: 30px
  &:last-child
    margin-right: 0

.time-counter
  background: rgba(18, 18, 18, 1);
  padding: 20px 30px
  height: 112px
  text-align: center;   

.unit-of-time-number
  font-size: 36px
  line-height: 50px
  font-family: "Roboto Medium";
  font-weight: 700;

.unit-of-time
  font-size: 16px
  line-height: 22px
  font-weight: 400;  
  color: #717171

// ----------------------------------------------------------------------------------------------------------------------

.page-section--statistics
  background-color: #0B0B0B
  background-blend-mode: color
  .page-section__inner
    display: flex
    align-items: center
    justify-content: center

.page-section__column--statistics
  padding-left: 26px
  +above(1380px)
    padding-left: 81px

.progress-bar
  height: 6px
  background-color: white
  margin-bottom: 5px

.progress-bar__progress
  width: 60%
  height: 6px
  background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);

.progress-bar__captions
  color: #717171
  display: flex
  justify-content: space-between
  padding-top: 8px

.statistics
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  +above($desktop)
    flex-wrap: nowrap

// .statistics__column
  

.statistics__column--summary
  width 90%
  +above($desktop)
    width 100%
  dl
    margin-bottom: -10px
  dt
  dd
    margin-bottom: 10px

.statistics__column--progress-bar
  min-width 90%
  padding-left: 0px
  +above($desktop)
    min-width 75%
  dt
    width:  208px
  dd
    margin-bottom: 8px
  +above($desktop)
    min-width 460px
  +above(1380px)
    padding-left: 20px
    min-width 734px

// ----------------------------------------------------------------------------------------------------------------------

.page-section__inner--company-direction
  display: flex
  justify-content: space-between
  padding-top: 200px
  .page-section__column
    &:first-child
      max-width: 526px
    &:last-child
      padding: 69px 0 0 56px
      max-width: 636px
  .section-subtitle
    padding-top: 45px
    font-size: 16px
    line-height: 27px

.square-decoration
  position: relative
  border: 30px solid;
  border-image: linear-gradient(to right, rgba(200, 154, 252, 1), rgba(124, 106, 250, 1));
  border-image-slice: 1;

.square-decoration__img
  position: relative
  top 73px

// ----------------------------------------------------------------------------------------------------------------------

.page-section__inner--example-diagram
  padding-top: 200px

.section-subtitle--left-decoration
  padding: 50px 0 60px 0
  font-size: 16px
  line-height: 1.6
  color: #717171
  max-width: 428px;

.example-diagram__row
  display: flex

.example-diagram__column
  flex: 0 1 25%
  display: flex

.example-diagram__item
    display: flex;
    flex-direction: column;
    justify-content: space-between;

.example-diagram__percentages
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: left;
  padding: 20px 0

.example-diagram__visually
  min-height: 80px
  background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
p 
  margin: 0
  padding: 35px 18px 0 0 
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #717171

.example-diagram__visually--100
  min-height 80px

.example-diagram__visually--75
  min-height 60px
  transform: matrix(-1, 0, 0, 1, 0, 0);

.example-diagram__visually--50
  min-height 30px

.example-diagram__visually--the-outcome
  min-height 10px
  transform: matrix(-1, 0, 0, 1, 0, 0);

// ----------------------------------------------------------------------------------------------------------------------

.page-section__inner--benefits
  padding-top: 158px

.c2a-title
  text-align: center
  padding-bottom: 120px

.benefits
  display: flex
  margin: 0 -12px

.benefits__item
  padding: 0 12px
  // flex: 0 1 33.3%

.benefit
  display: flex
  flex-direction: column

.benefit__icon
  text-align: center
  img
    width: 100px
    height: 100px

.benefit__icon-title
  padding: 60px 46px 30px
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: center;

.benefit__icon-subtitle
  padding: 0 29px
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;
  color: #CCCCCC

// ----------------------------------------------------------------------------------------------------------------------

.page-section__inner--partner-brands
  padding-top: 190px

.circle-rotate-partner-brands-section
  margin-bottom: 89px
  &:before
    transform: rotate(175deg);
    
.partner-brands__row 
  display: flex
  flex-wrap: wrap
  justify-content: center

.partner-brands__item
  border: 1px solid #4C4C4C
  padding: 29px 58px

.partner-brand__logo 
  img
    width: 198px
    height: 93px

// ----------------------------------------------------------------------------------------------------------------------

.page-section__inner--learn-program
  padding-top: 162px

.circle-rotate-learn-program-section
  padding-top: 150
  text-align: center
  &:before
    left: 50%
    margin-left: -40px
    transform: rotate(135deg);

.section-subtitle--top-decoration
  max-width: 412px
  margin: 0 auto
  padding: 30px 0 80px 0
  font-size: 16px
  line-height: 1.6
  color: #717171
  text-align: center

.training-schedule 
  display: flex
  justify-content: center

.training-schedule__column
  max-width: 400px
  padding: 0 72px 76px

.training-schedule__row
  padding-top: 95px

.training-schedule__column:first-child
  text-align: right
  position: relative
  &:before
    content: "";
    position: absolute;
    border-left: 6px solid;
    height: 95%;
    right: 4px;
    top: -31px;
    border-image: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    border-image-slice: 1;
  .training-schedule__row:first-child
    padding: 0
  .training-schedule__column-training-description
    &:after
      content: ""
      position: absolute;
      border-top: 2px solid #4C4C4C;
      transform: rotate(180deg);
      width: 40px
      top: 10px
      right: -62px

.training-schedule__column:last-child
  text-align: left
  .training-schedule__column-training-description
    &:before
      content: ""
      position: absolute;
      border-top: 2px solid #4C4C4C;
      transform: rotate(180deg);
      width: 40px
      top: 10px
      left: -76px

.training-schedule__column-week-number
  font-size: 14px
  line-height: 22px
  color: #717171

.training-schedule__column-training-description
  position: relative
  font-size: 18px
  line-height: 28px

// ----------------------------------------------------------------------------------------------------------------------

.circle-rotate-teachers
  &:before
    top: -20px
    transform: rotate(315deg);

.teachers-information__row 
  padding-top: 83px
  display: flex
  justify-content: space-around

.teachers-information__column 
  text-align: center

.teachers-information__photo
  padding: 30px 0
  img
    width: 190px
    height: 190px

.teachers-information__name 
  font-size: 24px
  line-height: 34px
  padding: 10px 0

.teachers-information__profession
  font-size: 16px
  line-height: 25px
  padding: 5px 0 5px
  margin-bottom: 30px
  color: #CCCCCC

.button--teachers-information-biography
  background: none
  border: 1px solid white
  font-size: 16px
  line-height: 24px
  &:hover
    background: none

// ----------------------------------------------------------------------------------------------------------------------

.page-section__inner--subscribe-newsletter
  padding-top: 168px
  padding-bottom: 0
  text-align: center

// .section-title--subscribe-newsletter

.section-subtitle--subscribe-newsletter
  margin: auto
  padding: 30px 0
  max-width: 418px
  font-size: 16px;
  line-height: 25px;
  color: #717171;

.form-subscribe-newsletter__input
  min-width: 353px
  position relative
  z-index 1
  color: white
  padding: 10px 30px;
  background: white;
  line-height: 24px;
  background-color: rgba(255, 255, 255, 0.25)
  border-radius: 50px 0 0 50px;
  margin-right: -25px;
  border: none;
  outline: none#D9D9D9

.form-subscribe-newsletter 
  margin: 0
  padding: 30px 0
  button
    position relative
    z-index 2

::-webkit-input-placeholder { /* WebKit browsers */
   color:    #D9D9D9;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #D9D9D9;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #D9D9D9;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #D9D9D9;
}

// ----------------------------------------------------------------------------------------------------------------------

.page-section__inner--footer
  padding: 0

.footer__socials
  padding: 10px 0 20px

.footer-socials
  display: flex
  justify-content: center

.footer-socials__item
  &:not(:last-child)
    padding-right: 30px
  a
    display: flex
    align-items: center
    justify-content: center
    height: 50px
    width: 50px
    border-radius: 50%
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);

.footer__company-name
  padding: 30px 0
  text-align: center
