@import "./_core/_base/_main/_reset.styl"
@import "./_core/_mixins.styl"
@import "./_core/_variables.styl"

html
body
  font-family 'Montserrat', Arial
  font-size 16px

body
  min-width 320px

img
  max-width 100%

a
  color #62a7d9
  &:hover
    text-decoration none

.button
  background-color #8a0101
  color #fff
  display inline-block
  user-select none
  font-size 18px
  border-radius 15rem
  padding 12px 30px
  cursor pointer
  border none
  position relative
  +above($media-screen-tablet)
    padding 12px 35px
    font-size 20px

  +above($media-screen-desktop)
    padding 15px 40px
    font-size 22px

  &:hover
    transition .2s linear background-color
    background-color #720101

  &:focus
    outline none

  &.is-disabled
    opacity 0.5
    cursor default
    pointer-events none
    background-color #8a0101

.section-subtitle
  font-size 16px
  color #858585
  padding-bottom 20px
  +above($media-screen-tablet)
    font-size 18px
    padding-bottom 30px

  +above($media-screen-desktop)
    font-size 20px
    padding-bottom 40px

.slick-arrow
.quiz__actions .button
  background-color #8a0101
  color #fff
  display inline-block
  user-select none
  cursor pointer
  border none
  font-size 16px
  padding 10px 27px
  border-radius 3px
  &:hover
    transition .2s linear background-color
    background-color #720101

  &:focus
    outline none

  &.is-disabled
    cursor default
    background-color #8a0101
    opacity 0.5
    pointer-events none

.page-section__inner
  padding 20px 25px 30px
  +above($media-screen-tablet)
    padding 40px 60px 50px

  +above($media-screen-desktop)
    padding 50px 80px 60px

.quiz__actions
  .button--quiz-calculate-result
    white-space nowrap
    display none

.slick-disabled
  display none

.section-title
  font-weight 700
  font-size 20px
  line-height 1.3
  +above($media-screen-tablet)
    font-size 24px

  +above($media-screen-desktop)
    font-size 30px

.form-input
  border-radius 5px
  width 100%
  will-change box-shadow
  padding 15px
  font-size 16px
  box-sizing border-box
  border solid 1px rgba(217, 216, 230, .55)
  &:hover
    transition .15s linear border-color
    border solid 1px rgba(217, 216, 230, .75)

  &:focus
    outline none
    transition .15s linear box-shadow
    box-shadow 0 1px 3px 0 rgba(0, 0, 0, .1)

.form-label
  line-height 50px
  user-select none
  cursor pointer

.label-checkbox
  display inline-block
  text-align left
  input
    margin-right 5px

.page-section--primary
  text-align center
  .page-section__inner
    padding 20px 25px 30px
    +above($media-screen-tablet)
      padding 40px 60px 50px

    +above($media-screen-desktop)
      padding 50px 80px 60px

  .section-title
    max-width 960px
    padding 20px 0
    margin-right auto
    margin-left auto

  .section-subtitle
    font-size 16px
    color #858585
    padding-bottom 20px
    +above($media-screen-tablet)
      font-size 18px
      padding-bottom 30px

    +above($media-screen-desktop)
      font-size 20px
      padding-bottom 40px


.intro-decoration
  +above($media-screen-tablet)
    max-height 100%
  +above($media-screen-desktop)
    max-height 500px

.button--start-test
  &:before
    content ""
    display inline-block
    vertical-align middle
    margin-right 6px
    width 18px
    height 18px
    background url("../images/lipokamit/checkmark-icon.svg") no-repeat
    background-size cover
    +above($media-screen-tablet)
      margin-right 8px
      width 20px
      height 20px

    +above($media-screen-desktop)
      margin-right 10px
      width 22px
      height 22px

.page-section--quiz
  visibility hidden
  background white
  position fixed
  z-index 2
  top 0
  right 0
  bottom 0
  left 0
  &.is-visible
    visibility visible

  .page-section__inner
    padding 30px

.quiz__section
  .section-title
    padding-bottom 20px
    +above($media-screen-tablet)
      padding-bottom 25px

    +above($media-screen-desktop)
      padding-bottom 30px

.form-quiz-sex
  display flex
  justify-content space-between
  align-content space-around
  flex-direction column
  +above($media-screen-tablet)
    flex-direction inherit

.label-checkbox
.label-radio
  width 100%
  margin-bottom 15px
  padding 15px
  cursor pointer
  border-radius 5px
  box-sizing border-box
  border solid 1px rgba(217, 216, 230, .55)
  will-change box-shadow
  +above($media-screen-tablet)
    width 49%
    margin-bottom 0

  &:hover
    transition .2s linear box-shadow
    box-shadow 0 1px 3px 0 rgba(0, 0, 0, .1)

  input
    margin 0 5px 0 0

.quiz
  .slick-prev
    display none !important

.quiz__actions
  padding-top 45px
  text-align center
  +above($media-screen-tablet)
    padding-top 60px

.slick-slider
.slick-list
  overflow hidden

.slick-slide
  float left

.form-quiz-age
.form-quiz-desired-weight
  display flex
  .form-label
    padding-left 20px

.form-quiz-parameters
  .form-row
    display flex
    margin-bottom 1rem
    &:last-child
      margin-bottom 0

  .form-label
    padding-right 20px
    width 194px

.form-quiz-zones
.form-quiz-extra-weight-reasons
  text-align center
  display flex
  flex-wrap wrap
  justify-content space-between
  .label-checkbox
    margin 0 0 15px 0
    cursor pointer

.form-quiz-extra-weight
.form-quiz-slimming-value
  .label-radio
    +above($media-screen-tablet)
      width 49%

  .form-row
    display flex
    justify-content space-between
    flex-direction column
    +above($media-screen-tablet)
      margin-bottom 1rem
      flex-direction inherit

.quiz-calculating-results__title
  margin-top 0
  margin-bottom 0
  line-height 1.5
  font-size 2.25rem
  font-weight 700

.quiz-calculating-results__message
  padding 15px
  font-size 1.75rem
  font-weight 700

.modal__container
  background white
  padding 15px 15px 30px
  height auto
  text-align center
  max-width 90%

.quiz-calculating-results__chart
.quiz-calculating-results__message-ready
  margin-top 50px

.quiz-calculating-results__message-ready
  font-size 1.75rem
  font-weight 700

.page-section--contact
  display none
  &.is-visible
    display block

  .section-title
    font-weight 700
    font-size 38px
    color #2e2e54
    text-align center

  .section-subtitle
    text-align center
    font-size 20px!important
    font-weight 500
    font-style normal
    font-stretch normal
    letter-spacing normal
    color grey
    line-height 1.5
    padding 1.5rem

.text-center
  text-align center

.page-section--test-result
  display none
  text-align center
  .intro-decoration
    +above(960px)
      min-height 514px

  .page-section__inner
    max-width 950px
    margin-left auto
    margin-right auto

  .section-title
    padding-bottom 20px

  table
    width 100%
    margin-left auto
    margin-right auto
    +above($media-screen-tablet)
      width 550px

.assistant-panel
  display inline-flex
  align-items center
  margin-bottom 30px

.assistant-panel__avatar
  margin-right 20px
  img
    width 82px
    min-height 82px

.assistant-panel__name
  margin-left 5px
  font-weight 600
  letter-spacing 1px

figure
  max-width 630px
  background #efefef
  font-style italic
  text-align left
  margin 0 auto 20px
  +above($media-screen-tablet)
    margin 0 auto 30px

  +above($media-screen-desktop)
    margin 0 auto 40px

  img
    width 100%

figcaption
  padding 10px

table
  margin-bottom 30px
  text-align left
  +above($media-screen-tablet)
    margin-bottom 40px

  th
    background green
    color white
    font-weight 400
    &:first-child
      border-radius 8px 0 0 0

    &:last-child
      text-align center
      border-radius 0 8px 0 0

  th, td
    padding 15px

  th:first-child
  td:first-child
    border-left 1px solid green

  th:last-child
  td:last-child
    border-right 1px solid green

  tr:nth-child(odd)
    td
      background-color #eee

  td
    &:last-child
      font-weight bold
      text-align center
      color darkred

  tr:last-child
    td
      border-bottom 1px solid green
      &:first-child
        border-radius 0 0 0 8px

      &:last-child
        border-radius 0 0 8px 0

.page-section
  p
    text-align left

  .blinking-text
    text-align center

  section
    margin-bottom 40px
    text-align left
    +above($media-screen-tablet)
      margin-bottom 60px

    &:last-child
      margin-bottom 0

  .dashed
    margin-bottom 20px

.dash-list
  padding-left 0
  text-align left
  font-weight 700
  list-style none
  li
    &:before
      content "— "

.dashed
  border 3px dashed #eaeaea
  max-width 750px
  padding 14px
  .section-title
    font-size 18px
    padding-bottom 20px

  ul li
    margin-bottom 20px
    &:last-child
      margin-bottom 0

.warning-note
  font-weight 700
  max-width 750px

.accent-section
  background rgba(3, 224, 0, .04)
  max-width 750px
  padding 6px 13px
  box-sizing border-box
  border-radius 2px
  border 4px double rgba(21, 160, 37, .32)
  line-height 28px
  font-size 16px
  text-align left
  margin-bottom 40px
  +above($media-screen-tablet)
    margin-bottom 60px

.accent-section--best-time-c2a
  margin-bottom 20px

.accent-section__inner
  padding: 6px 4px 4px 5px;
  width: 100%;
  display: table;
  border: 1px dotted #e2e2e2;
  border-right: none;
  color: #3a753a;
  text-transform uppercase
  font-size: 14px;
  margin-bottom: 9px;
  line-height: 23px;
  border-radius: 2px;
  margin-top: 5px;
  margin-left: -3px;
  font-weight: 600;
  background-color: #f5fef5;
  background-image: -webkit-repeating-linear-gradient(0deg,#bfe6bf 0,#f5fef5 100%);
  background-image: repeating-linear-gradient(90deg,#bfe6bf 0,#f5fef5 100%);
  background-image: -ms-repeating-linear-gradient(0deg,#bfe6bf 0,rgba(3,224,0,.04) 100%)

ol
  padding-left 19px
  list-style none
  li
    counter-increment custom-list-counter
    position relative
    &:before
      content attr(custom-list-counter)
      color #4a4a4a
      font-weight 700
      position absolute
      left -17px

    ul li
      list-style disc
      &:before
        content none

.warning-area
  .section-title
    color #ff0000
    padding-bottom 10px

  ul li
    margin-bottom 20px
    &:last-child
      margin-bottom 0

.warning-section
  max-width 750px
  border 1px solid red
  box-sizing border-box
  padding 20px
  background rgb(255, 236, 166) none repeat scroll 0% 0%
  strong
    color #4a4a4a

.warning-area .section-title--warning-section
.section-title--warning-section
  color #4a4a4a
  font-size 22px
  padding-bottom 0

.image-hologram
  max-width 70px
  display block
  margin-right auto
  margin-left auto

.warning-text
  font-size 18px
  line-height 24px
  color red

.form-order-product
  padding 20px
  box-sizing border-box
  margin-left auto
  margin-right auto
  background url("../images/lipokamit/formbg.jpeg") no-repeat
  background-size: 100% 100%;
  +above($media-screen-tablet)
    width 650px
    height 815px

.form-order-product
  .image-hologram
    display inline-block

  .form-header
    text-align left
    min-height 93px
    background url("../images/lipokamit/med.png") no-repeat top center

  .form-title
    padding-top 45px
    padding-bottom 10px
    line-height 32px
    font-size 30px
    font-weight 700
    color #444
    text-align center

  .form-subtitle
    font-size 14px
    color #00f
    font-style italic
    text-align center

  .form-accent-frame
    margin 25px 10px 25px
    border 2px solid #0299ff
    padding 10px
    font-size 12px
    color #444
    text-align center
    font-weight 700
    line-height 30px
    +above($media-screen-tablet)
      margin 45px 10px 25px

  .form-label
    font-weight 700
    color #444
    line-height 24px
    +above(380px)
      line-height 50px

  .form-row
    text-align center
    margin-bottom 5px

  .form-body
    padding-left 10px
    padding-right 10px
    +above($media-screen-tablet)
      padding-left 90px
      padding-right 90px

  .form-footer
    text-align center
    font-size 12px
    line-height 26px
    padding-left 10px
    padding-right 10px
    +above($media-screen-tablet)
      padding-left 70px
      padding-right 70px

  .form-row--submit
    padding-top 20px

  .time-limit-text
    font-size 16px
    margin-bottom 12px

  .form-submit
    max-width: 318px;
    font-size: 18px;
    width: 100%;
    display: block;
    margin: 20px auto;
    padding: 20px;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    box-shadow: 0 4px 15px 0 rgba(129, 150, 160, .45);
    border-radius: 5px;
    background: #0299ff;
    transition: all .15s ease-in-out;
    border: none;
    cursor: pointer;
    animation: 1s pulse infinite alternate ease-in-out;
    text-align center

    &:hover
      background: #017acc;
      text-decoration: none;
      color: #fff

    &:disabled
      opacity: .5

    &:active
      position: relative;
      top: 1px

    .line-break
      position relative
      display block
      +above(443px)
        display inline
      &:after
        display: inline-block;
        animation: dotty steps(1,end) 1.5s infinite;
        content: '';
        position:absolute;
        margin-left:10px;
        margin-top: 2px;

@-webkit-keyframes dotty {
  0%   { content: ''; }
  25%  { content: '>'; }
  50%  { content: '>>'; }
  75%  { content: '>>>'; }
  100% { content: ''; }
}

@keyframes dotty {
  0%   { content: ''; }
  25%  { content: '>'; }
  50%  { content: '>>'; }
  75%  { content: '>>>'; }
  100% { content: ''; }
}

@keyframes pulse
  0%
    transform: scale(1.0)

  100%
    transform: scale(0.95)

.time-limit
  color red
  font-weight 700
  padding-left 14px
  background url("../images/lipokamit/timerIcon2.png") no-repeat left center

.comments
  .section-title
    text-transform uppercase

  .section-subtitle
    font-size 14px
    color #4a4a4a

.comment
  display flex
  margin-bottom 40px

.comment__column
  &:first-child
    margin-right 1em

.comment__author-image
  width 56px
  img
    border-radius 50%

.comment__author-name
  font-weight 700
  line-height 26px
  margin-top -5px
  margin-bottom .31em

.comment__author-message
  line-height 22px
  img
    display block
    margin-top 10px
    +above($media-screen-tablet)
      max-width 380px

.comment__publish-date
  padding-top 16px
  color #62a7d9
  font-weight 600
  font-size 14px

.blinking-text
  text-align center
  margin 20px
  a
    display inline-block
    text-transform uppercase
    color red
    text-decoration none
    animation 1s pulse infinite alternate ease-in-out
    font-size 22px
    &:hover
      transition color .2s linear
      color rgb(0, 153, 255)
      text-decoration underline

.question
.answer
  overflow hidden
  img
    float left
    width 75px
    border-radius 50%
    margin-right 10px

input[type=number]::-webkit-inner-spin-button
  -webkit-appearance: none;

.order-limit
  max-width 620px
  margin-left auto
  margin-right auto

.order-limit__title
  color red
  font-size 24px
  line-height 28px
  font-weight 700
  margin-bottom 10px

.order-limit__note
  font-weight bolder
  font-size 15px

.order-limit__counter
  width 216px
  padding 23px
  margin 12px auto
  background red
  color #fff
  text-align center
  text-shadow 0 -1px 0 #000, 0 -1px 0 #000, 0 1px 0 #000, 0 1px 0 #000, -1px 0 0 #000, 1px 0 0 #000, -1px 0 0 #000, 1px 0 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000
  font-size 32px
  border-radius 5px
  line-height 32px
  user-select none

.order-limit__counter-value
  font-size 42px
  font-weight 700

.color-green
  color green

.order-limit__date
  text-decoration underline

.line-break
  display block

.centered-content
  text-align center