//- extends ../layouts/responsive-simple

//- include lagoon/includes/authorization-widget

block head
  title figma-templates-1
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")

block styles
  link(rel="stylesheet" href="./stylesheets/figma-templates-1.css")

block main
  section.page-section.page-section--intro#intro
    .page-section__inner
      .page-header
        .page-header__logo
          .logo
            img(src="./images/figma-templates-1/logo-main.svg" alt="Logo").logo__image

        .page-header__menu
          .header-menu
            .header-menu__item
              a(href="#")
                | Главная 
            .header-menu__item
              a(href="#")
                | Курсы
            .header-menu__item
              a(href="#")
                | Расписание
            .header-menu__item
              a(href="#")
                | Преподаватели
            .header-menu__item
              a(href="#")
                | Рассылка
            .header-menu__item
              a(href="#")
                | Контакты

          .page-header__actions
            .authorization-links
              .authorization-links__item
                a(href="#").button.button--purple
                  | Зайти в кабинет

      .intro-titles
        .section-title
          | Первый курс<br>по компьютерной сборке

      .time-counters
        .time-counters__item
          .time-counter
            .unit-of-time-number
              | 18
            .unit-of-time
              | Дней
        .time-counters__item
          .time-counter
            .unit-of-time-number
              | 18
            .unit-of-time
              | Часов
        .time-counters__item
          .time-counter
            .unit-of-time-number
              | 18
            .unit-of-time
              | Минут
        .time-counters__item
          .time-counter
            .unit-of-time-number
              | 18
            .unit-of-time
              | Секунд                    

  section.page-section.page-section--statistics
    .page-section__inner
      .page-section__column
        a(href="#").button
          | Заказать курс         
      .page-section__column.page-section__column--statistics
        .statistics
          .statistics__column.statistics__column--summary
            dl
              dt
                | Учеников всего:
              dd 
                | 200
              dt
                | Успешно закончили курс:
              dd 
                | 190              

          .statistics__column.statistics__column--progress-bar
            dl
              dt
                | Заработано учениками:
              dd 
                | 400 000₽   
            .progress-bar
              .progress-bar__progress
              .progress-bar__captions
                  .progress-bar__caption.progress-bar__caption--from
                    | 0
                  .progress-bar__caption.progress-bar__caption--to
                    | 1 000 000₽

  section.page-section
    .page-section__inner.page-section__inner--company-direction
      .page-section__column
        .square-decoration
          img(src="../images/figma-templates-1/square-decoration.png").square-decoration__img
      .page-section__column
        .section-title
          | Чем мы занимаемся?
        .section-subtitle
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eget neque, dignissim et feugiat elit augue in suspendisse egestas. Dictum vestibulum mi et sed nunc, orci fermentum vestibulum, morbi. Et neque, adipiscing sapien sem senectus praesent aenean consequat. Aenean facilisi turpis aliquet fringilla. Nunc sem felis sed interdum feugiat mattis elit, sollicitudin. Quam pharetra rhoncus risus, cursus id elementum aliquet. Nullam turpis arcu malesuada arcu interdum placerat nisi, lobortis.

  section.page-section
    .page-section__inner.page-section__inner--example-diagram
      .section-title.section-title--left-decoration-circle
        | Быстрый старт
      .section-subtitle.section-subtitle--left-decoration
        | Больше 90% учеников прошли полный курс и смогли собрать свой первый компьютер
      .example-diagram
        .example-diagram__row
          .example-diagram__column
            .example-diagram__item
                .example-diagram__percentages
                  | 100%
                .example-diagram__visually.example-diagram__visually--100
                p 
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Netus eget velit quisque accumsan amet tortor. Velit, volutpat egestas fringilla mi porttitor tempus. Placerat dui.
          .example-diagram__column
            .example-diagram__item
                .example-diagram__percentages
                  | 75%
                .example-diagram__visually.example-diagram__visually--75
                p 
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Netus eget velit quisque accumsan amet tortor. Velit, volutpat egestas fringilla mi porttitor tempus. Placerat dui.
          .example-diagram__column
            .example-diagram__item
                .example-diagram__percentages
                  | 50%
                .example-diagram__visually.example-diagram__visually--50
                p 
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Netus eget velit quisque accumsan amet tortor. Velit, volutpat egestas fringilla mi porttitor tempus. Placerat dui.
          .example-diagram__column
            .example-diagram__item
                .example-diagram__percentages
                  | Итог
                .example-diagram__visually.example-diagram__visually--the-outcome
                p 
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Netus eget velit quisque accumsan amet tortor. Velit, volutpat egestas fringilla mi porttitor tempus. Placerat dui.

  section.page-section
    .page-section__inner.page-section__inner--benefits
      .section-title.c2a-title
        | Получите профессию прямо сейчас

      .advertisers__column.advertisers__column--benefits
        .benefits
          .benefits__item
            .benefit
              .benefit__icon
                img(src="./images/figma-templates-1/benefit-icon-1.png")
              .benefit__icon-title
                | Только практические навыки в работе
              .benefit__icon-subtitle
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Netus eget velit quisque accumsan amet tortor. Velit, volutpat egestas fringilla mi porttitor tempus. Placerat dui.
          .benefits__item
            .benefit
              .benefit__icon
                img(src="./images/figma-templates-1/benefit-icon-2.png")
              .benefit__icon-title
                | Работа на самом современном оборудовании
              .benefit__icon-subtitle
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Netus eget velit quisque accumsan amet tortor. Velit, volutpat egestas fringilla mi porttitor tempus. Placerat dui.
          .benefits__item
            .benefit
              .benefit__icon
                img(src="./images/figma-templates-1/benefit-icon-3.png")
              .benefit__icon-title
                | Сертификация по окончании обучения
              .benefit__icon-subtitle
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Netus eget velit quisque accumsan amet tortor. Velit, volutpat egestas fringilla mi porttitor tempus. Placerat dui.

  section.page-section
    .page-section__inner.page-section__inner--partner-brands
      .partner-brands
        .section-title.section-title--left-decoration-circle.circle-rotate-partner-brands-section
          | Партнеры - топовые бренды
        .partner-brands__row 
          .partner-brands__item 
            .partner-brand__logo 
              img(src="./images/figma-templates-1/partner-logo.png")
          .partner-brands__item 
            .partner-brand__logo 
              img(src="./images/figma-templates-1/partner-logo.png")
          .partner-brands__item 
            .partner-brand__logo 
              img(src="./images/figma-templates-1/partner-logo.png")
          .partner-brands__item 
            .partner-brand__logo 
              img(src="./images/figma-templates-1/partner-logo.png")
          .partner-brands__item 
            .partner-brand__logo 
              img(src="./images/figma-templates-1/partner-logo.png")
          .partner-brands__item 
            .partner-brand__logo 
              img(src="./images/figma-templates-1/partner-logo.png")
          .partner-brands__item 
            .partner-brand__logo 
              img(src="./images/figma-templates-1/partner-logo.png")
          .partner-brands__item 
            .partner-brand__logo 
              img(src="./images/figma-templates-1/partner-logo.png")

  section.page-section
    .page-section__inner.page-section__inner--learn-program
      .section-title.section-title--left-decoration-circle.circle-rotate-learn-program-section
        | Программа обучения
      .section-subtitle.section-subtitle--top-decoration
        | Больше 90% учеников прошли полный курс и смогли собрать свой первый компьютер  
      .training-schedule 
        .training-schedule__column
          .training-schedule__row
            .training-schedule__column-week-number
              | Неделя №1
            .training-schedule__column-training-description
              | Красивая часть курса, которая помогает в успехе
          .training-schedule__row
            .training-schedule__column-week-number
              | Неделя №3
            .training-schedule__column-training-description
              | Красивая часть курса, которая помогает в успехе
          .training-schedule__row
            .training-schedule__column-week-number
              | Неделя №5
            .training-schedule__column-training-description
              | Красивая часть курса, которая помогает в успехе
          .training-schedule__row
            .training-schedule__column-week-number
              | Неделя №7
            .training-schedule__column-training-description
              | Красивая часть курса, которая помогает в успехе              
        .training-schedule__column
          .training-schedule__row
            .training-schedule__column-week-number
              | Неделя №2
            .training-schedule__column-training-description
              | Красивая часть курса, которая помогает в успехе
          .training-schedule__row
            .training-schedule__column-week-number
              | Неделя №4
            .training-schedule__column-training-description
              | Красивая часть курса, которая помогает в успехе    
          .training-schedule__row
            .training-schedule__column-week-number
              | Неделя №6
            .training-schedule__column-training-description
              | Красивая часть курса, которая помогает в успехе

  section.page-section
    .page-section__inner.page-section__inner--teachers
      .section-title.section-title--left-decoration-circle.circle-rotate-teachers
        | Ваши преподаватели  
      .teachers-information
        .teachers-information__row 
          .teachers-information__column 
            .teachers-information__photo
              a(href="#")  
                img(src="./images/figma-templates-1/teachers/teacher-1.png", alt="photo")
            .teachers-information__name 
              | Дмитрий Иванов
            .teachers-information__profession
              | Специалист по видеокартам
            a(href="#").button.button--teachers-information-biography
              | Биография
          .teachers-information__column 
            .teachers-information__photo
              a(href="#")  
                img(src="./images/figma-templates-1/teachers/teacher-2.png", alt="photo")
            .teachers-information__name 
              | Дмитрий Иванов
            .teachers-information__profession
              | Специалист по видеокартам           
            a(href="#").button.button--teachers-information-biography
              | Биография
          .teachers-information__column 
            .teachers-information__photo
              a(href="#")  
                img(src="./images/figma-templates-1/teachers/teacher-3.png", alt="photo")
            .teachers-information__name 
              | Дмитрий Иванов
            .teachers-information__profession
              | Специалист по видеокартам
            a(href="#").button.button--teachers-information-biography
              | Биография

  section.page-section
    .page-section__inner.page-section__inner--subscribe-newsletter
      .section-title.section-title--subscribe-newsletter
        | Статьи каждую неделю
      .section-subtitle.section-subtitle--subscribe-newsletter
        | Больше 90% учеников прошли полный курс и смогли собрать свой первый компьютер
      form.form-subscribe-newsletter  
        input(type="email" placeholder="E-mail").form-subscribe-newsletter__input
        button.button
          | Подписаться

  section.page-section.page-section--footer
    .page-section__inner.page-section__inner--footer
      .footer
        .footer__socials
          .footer-socials
            .footer-socials__item
              a(href="#")
                img(src="./images/figma-templates-1/socials/vk.png", alt="VK")
            .footer-socials__item
              a(href="#")
                img(src="./images/figma-templates-1/socials/youtube.png", alt="youtube")             
            .footer-socials__item
              a(href="#")
                img(src="./images/figma-templates-1/socials/facebook.png", alt="facebook")  
            .footer-socials__item              
              a(href="#")
                img(src="./images/figma-templates-1/socials/instagram.png", alt="instagram")  

        .footer__company-name
          | Templates #18. More on Figma.info

block scripts
  script(type="text/javascript" src="javascripts/vendor.bundle.js")
