doctype html
html(lang=config.lang data-offcanvas-container)
    head
        title Wine market
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap' rel='stylesheet')
        link(rel="stylesheet" href="./stylesheets/goods-cards.css")


    body
        section(aria-label="goods-cards").page-section.page-section--intro
            .page-section__inner
                .goods-cards 
                    .goods-cards__inner
                        .goods-card
                            .goods-card__inner
                                .goods-card__article
                                    | Код товару: 48796
                                .goods-card__img 
                                    a(href="#")  
                                        img(src="./images/goods-cards/225506158.jpg", alt="img")
                                .goods-card__labels
                                    .goods-card__label
                                        | -24%
                                    .goods-card__label
                                        | ХІТ
                                .goods-card__product-name
                                    | Пральна машина Electrolux EW6S4R06W
                                .goods-card__rating-column
                                    .goods-card__rating-row
                                        .goods-card__rating-star
                                        .goods-card__rating-star
                                        .goods-card__rating-star
                                        .goods-card__rating-star
                                        .goods-card__rating-star
                                    .goods-card__rating-row
                                        | 6 відгуків
                                .goods-card__cost
                                    .goods-card__cost-text 
                                        | Ціна
                                    .goods-card__cost-column
                                        .goods-card__cost-price
                                            | 6 868 грн
                                        .goods-card__cost-discount
                                            | + 69 грн кешбек
                                    .goods-card__cost-old-price 
                                        | 8 999грн
                                .goods-card__action-row 
                                    .goods-card__action-button.button 
                                        | Купити
                                    .goods-card__action-icon
                                        img(src="images/goods-cards/heart.svg", alt="pictures")

                                    .goods-card__action-icon
                                        img(src="images/goods-cards/scales.svg", alt="pictures")

                        .goods-card
                            .goods-card__inner
                                .goods-card__article
                                    | Код товару: 48796
                                .goods-card__img 
                                    a(href="#")  
                                        img(src="./images/goods-cards/225506158.jpg", alt="img")
                                .goods-card__labels
                                    .goods-card__label
                                        | -24%
                                    .goods-card__label
                                        | ХІТ
                                .goods-card__product-name
                                    | Пральна машина Electrolux EW6S4R06W
                                .goods-card__rating-column
                                    .goods-card__rating-row
                                        .goods-card__rating-star
                                        .goods-card__rating-star
                                        .goods-card__rating-star
                                        .goods-card__rating-star
                                        .goods-card__rating-star
                                    .goods-card__rating-row
                                        | 6 відгуків
                                .goods-card__cost
                                    .goods-card__cost-text 
                                        | Ціна
                                    .goods-card__cost-column
                                        .goods-card__cost-price
                                            | 6 868 грн
                                        .goods-card__cost-discount
                                            | + 69 грн кешбек
                                    .goods-card__cost-old-price 
                                        | 8 999грн
                                .goods-card__action-row 
                                    .goods-card__action-button.button 
                                        | Купити
                                    .goods-card__action-icon
                                        img(src="images/goods-cards/heart.svg", alt="pictures")

                                    .goods-card__action-icon
                                        img(src="images/goods-cards/scales.svg", alt="pictures")

                        .goods-card
                            .goods-card__inner
                                .goods-card__article
                                    | Код товару: 48796
                                .goods-card__img 
                                    a(href="#")  
                                        img(src="./images/goods-cards/225506158.jpg", alt="img")
                                .goods-card__labels
                                    .goods-card__label
                                        | -24%
                                    .goods-card__label
                                        | ХІТ
                                .goods-card__product-name
                                    | Пральна машина Electrolux EW6S4R06W
                                .goods-card__rating-column
                                    .goods-card__rating-row
                                        .goods-card__rating-star
                                        .goods-card__rating-star
                                        .goods-card__rating-star
                                        .goods-card__rating-star
                                        .goods-card__rating-star
                                    .goods-card__rating-row
                                        | 6 відгуків
                                .goods-card__cost
                                    .goods-card__cost-text 
                                        | Ціна
                                    .goods-card__cost-column
                                        .goods-card__cost-price
                                            | 6 868 грн
                                        .goods-card__cost-discount
                                            | + 69 грн кешбек
                                    .goods-card__cost-old-price 
                                        | 8 999грн
                                .goods-card__action-row 
                                    .goods-card__action-button.button 
                                        | Купити
                                    .goods-card__action-icon
                                        img(src="images/goods-cards/heart.svg", alt="pictures")

                                    .goods-card__action-icon
                                        img(src="images/goods-cards/scales.svg", alt="pictures")

