extends ../layouts/responsive-simple

include lagoon/includes/authorization-widget

block head
  title CPA network LAGOON
  meta(charset="UTF-8")
  link(rel="shortcut icon" href="./favicons/favicon.ico" type="image/x-icon")

block styles
  link(rel="stylesheet" href="./stylesheets/lagoon.css")

block main
  section.page-section.page-section--intro#intro
    .page-section__inner
      .page-header
        .mobile-navbar
          .mobile-navbar__button.dropdown-toggle(data-bs-toggle="dropdown" aria-expanded="false")
          .mobile-navbar__menu-wrapper.dropdown-menu(aria-labelledby="dropdownMobileMenu")
            .mobile-navbar__menu
              .mobile-navbar__menu-item
                a(href="#about-us")
                  | О нас
              .mobile-navbar__menu-item
                a(href="#advertisers")
                  | Рекламодателям
              .mobile-navbar__menu-item
                a(href="#webmaster")
                  | Веб-мастерам
              .mobile-navbar__menu-item
                a(href="#contacts")
                  | Контакты
              .mobile-navbar__menu-footer
                a(href="#").is-active RU
                a(href="lagoon-en.html") EN

        .page-header__logo
          .logo
            img(src="./images/lagoon/logo.png" alt="Lagoon").logo__image

        .page-header__menu
          .header-menu
            .header-menu__item
              a(href="#about-us")
                | О нас
            .header-menu__item
              a(href="#advertisers")
                | Рекламодателям
            .header-menu__item
              a(href="#webmaster")
                | Веб-мастерам
            .header-menu__item
              a(href="#contacts")
                | Контакты

        .page-header__actions
          .authorization-links
            .authorization-links__item
              a(href="#").button.js-show-modal-login
                | Вход
            .authorization-links__item
              a(href="#").button.js-show-modal-registration
                | Регистрация

          .lang-switcher
            .lang-switcher__item.is-active
              a(href="#")
                | RU
            .lang-switcher__item
              a(href="lagoon-en.html")
                | EN

      .intro-titles
        .intro-titles__decoration
          .circle-decoration
            .circle-decoration__1
            .circle-decoration__2
            .circle-decoration__3

        .section-title
          | CPA сеть LAGOON
        .section-subtitle
          | Эффективный маркетинг

      ul.nav.nav--fixed-scroll#page-content
        li.nav-item
          a.nav-link.active(href="#intro")
        li.nav-item
          a.nav-link(href="#about-us")
        li.nav-item
          a.nav-link(href="#webmaster")
        li.nav-item
          a.nav-link(href="#sign-up")

      video(autoplay="" muted="" loop="").intro-background-video
        source(src="./videos/back.mp4" type="video/mp4")

  section.page-section.page-section--to-advertisers#about-us
    .page-section__inner
      .section-title
        | О нас

      p
        | Основная задача нашей компании - предоставить нашим партнерам наиболее подходящие маркетинговые решения, разработанные специально для их индивидуальных потребностей.
      p
        | Мы разработали собственную платформу, которая постоянно обновляется и дополняется новым функционалом, ориентированным на успешный результат рекламных кампаний.

      .advertisers#advertisers
        .advertisers__column.advertisers__column--to-advertisers
          .section-title
            | Рекламодателям

          p Мы специализируемся на привлечении целевых клиентов и устраняем все источники мошеннического трафика, благодаря чему вы получаете высококачественный, стабильный и масштабируемый трафик.
          p Наша команда маркетологов имеет большой опыт создания конкурентоспособных предложений на основе мониторинга рынка и тестирования производительности продвижения в различных источниках трафика, что помогает достигать высоких результатов и качественный пользовательский опыт.

          .c2a-title
            | Присоединяйтесь к нам уже сегодня для долгосрочного сотрудничества!


        .advertisers__column.advertisers__column--benefits
          .benefits
            .benefits__item
              .benefit
                .benefit__icon
                  img(src="./images/lagoon/benefits/public-relation.png")
                | Оперативная техническая и клиентская поддержка
            .benefits__item
              .benefit
                .benefit__icon
                  img(src="./images/lagoon/benefits/global.png")
                | Контроль качества трафика - анти-фрод система
            .benefits__item
              .benefit
                .benefit__icon
                  img(src="./images/lagoon/benefits/add.png")
                | API - интеграция
            .benefits__item
              .benefit
                .benefit__icon
                  img(src="./images/lagoon/benefits/dollar.png")
                | Оплата за реальный результат
            .benefits__item
              .benefit
                .benefit__icon
                  img(src="./images/lagoon/benefits/value.png")
                | Мы подберем клиентов под любой продукт и поможем его продвинуть
            .benefits__item
              .benefit
                .benefit__icon
                  img(src="./images/lagoon/benefits/users.png")
                | Максимально прозрачная статистика

  section.page-section.page-section--webmaster#webmaster
    .page-section__inner
      .webmasters
        .webmasters__column
          .section-title
            | Веб-мастерам

          p Работая с нами вы получаете доступ к лучшим предложениям на рынке.
          p Наша платформа содержит необходимые инструменты для эффективного заработка.
          p Используя которые, вы получаете максимальный доход.
          p И помогает вам в этом, дружелюбная поддержка персонального менеджера.

          .c2a-title
            | Присоединяйтесь к нам, для максимальной монетизации вашего трафика.

        .webmasters__column
          .benefits
            .benefits__item
              .benefit
                .benefit__icon
                  img(src="./images/lagoon/benefits/master1.png")
                | Авторские оффера и лояльные условия
            .benefits__item
              .benefit
                .benefit__icon
                  img(src="./images/lagoon/benefits/master2.png")
                | Своевременные платежи
            .benefits__item
              .benefit
                .benefit__icon
                  img(src="./images/lagoon/benefits/master3.png")
                | Высокий уровень поддержки персонального менеджера
            .benefits__item
              .benefit
                .benefit__icon
                  img(src="./images/lagoon/benefits/master4.png")
                | Детальная статистика
  section.page-section.page-section--sign-up#sign-up
    .page-section__inner
      +authorizationWidget

  section.page-section.page-section--footer#contacts
    .page-section__inner
      .footer
        .footer__logo
          .logo
            img(src="./images/lagoon/logo.png" alt="Lagoon").logo__image

        .footer__menu
          .footer-menu
            .footer-menu__item
              a(href="#about-us")
                | О нас
            .footer-menu__item
              a(href="#advertisers")
                | Рекламодателям                
          .footer-menu
            .footer-menu__item
              a(href="#webmaster")
                | Веб-мастерам
            .footer-menu__item              
              a(href="#contacts")
                | Регистрация

        .footer__socials
          include lagoon/includes/socials-list

          .footer__company-name
            | © LAGOON 2021

  +modal(id="modal-authorization-widget")
    +authorizationWidget

block scripts
  script(type="text/javascript" src="javascripts/vendor.bundle.js")
  script(type="text/javascript" src="javascripts/lagoon.js")
