mixin authorizationWidgetEn()
    .authorization-widget(data-authorization-method="registration")
        form(action="" novalidate).form.form--remind-password
            .form__inner
                .form__row.form__row--mode-titles
                    .form__mode-title(data-form-mode="login")
                        | Login
                    .form__mode-title(data-form-mode="registration")
                        | Registration

                .form__row
                    input.form-input(name="input-email" type="email" placeholder="E-mail" required)

                .form__row
                    input.form-input(type="text" name="input-messenger" placeholder="Telegram" required)

                .form__row.form__row--submit
                    button.form-submit.is-disabled(type="submit")
                        | Login

        form(action="https://lagoon.me/account/login" novalidate).form.form--login
            .form__inner
                .form__row.form__row--mode-titles
                    .form__mode-title.is-active(data-form-mode="login")
                        | Login
                    .form__mode-title(data-form-mode="registration")
                        | Registration

                .form__row
                    input.form-input(name="input-email" type="email" placeholder="E-mail" required)

                .form__row
                    input.form-input(name="input-password" type="password" placeholder="Password" required)

                .form__row.form__row--submit
                    button.form-submit.is-disabled(type="submit")
                        | Login

                .form__row.form__row--remind-password
                    span(data-form-mode="remind-password" tabindex="0").remind-password.js-remind-password
                        | Recover password

        form(action="" novalidate).form.form--registration
            .form__inner
                .form__row.form__row--mode-titles
                    .form__mode-title(data-form-mode="login")
                        | Login
                    .form__mode-title.is-active(data-form-mode="registration")
                        | Registration
                .form__row.form__row--columns.form__row--user-category
                    .form__row-column
                        .form__text-switcher(data-form-user-category="advertiser")
                            | Advertiser
                    .form__row-column
                        .form__text-switcher.is-active(data-form-user-category="webmaster")
                            | Web - master
                .form__row.form__row--columns
                    .form__row-column
                        input.form-input(name="input-login" type="text" placeholder="Username" required)
                    .form__row-column
                        input.form-input(name="input-email" type="email" placeholder="E-mail" required)
                .form__row.form__row--columns.form__row--messenger
                    .form__row-column
                        input.form-input(name="input-name" type="text" placeholder="Name" required)
                    .form__row-column.has-dropdown-toggler
                        span#dropdownRegistrationName.dropdown-toggler.dropdown-toggle(data-bs-toggle="dropdown" aria-expanded="false")
                        ul(aria-labelledby="dropdownRegistrationName").dropdown-menu.js-registration-messenger-dropdown
                            li(data-registration-messanger="Skype").dropdown-item
                                | Skype
                            li(data-registration-messanger="Telegram").dropdown-item
                                | Telegram
                        input.form-input(type="text" name="input-messenger" placeholder="Telegram" required)
                        .help-info(data-bs-toggle="tooltip" data-bs-html="true" title="<div><div class='tooltip__title'>Two options available</div><div class='tooltip__subtitle'>Skype / Telegram</div><ol><li><strong>skype</strong> login</li><li><strong>phone number</strong> or <strong>@username</strong></li></ol></div>")

                .form__row.form__row--columns
                    .form__row-column
                        input.form-input(name="input-password" type="password" placeholder="Password" required)
                    .form__row-column
                        input.form-input(name="input-password-confirm" type="password" placeholder="Repeat password" required)
                .form__row.form__row--agreement
                    label.label-checkbox
                        input(name="agreement-checkbox" type="checkbox" required)
                        | I accept the terms of the <a href="#">User Agreement</a> and give my consent to the processing of personal data
                .form__row.form__row--submit
                    button.form-submit.is-disabled(type="submit")
                        | Registration
