mixin icon-star-full()
  include images/star-full.svg

mixin icon-star-empty()
  include images/star-empty.svg

mixin icon-star-half()
  include images/star-half.svg

mixin icon-arrow-right-big-white()
  include images/ppc-landing/arrow-right-big-white.svg

mixin icon-arrow-right-red()
  include images/industry/arrow-right-red.svg
