.section-title
	text-align center
	color $title-color
	font-weight $font-weight-extraBold
	font-size 20px
	line-height 32px

	+above($media-screen-tablet)
		margin-bottom 4px
		font-size 24px
		line-height 36px

	+above($media-screen-desktop)
		margin-bottom 8px
		font-size 36px
		line-height 52px

.section-title--primary
	margin-bottom 12px
	font-weight $font-weight-extraBold
	font-size 24px
	line-height 36px

	+above($media-screen-tablet)
		font-size 36px
		line-height 52px

	+above($media-screen-desktop)
		font-size 48px
		line-height 64px
