.section-subtitle
	text-align center
	color $title-color
	font-weight $font-weight-normal
	font-size $font-size-base
	line-height $line-height-base

	+above($media-screen-tablet)
		font-size $font-size-bigger
		line-height 28px

	+above($media-screen-desktop)
		font-size 20px
		line-height 32px
