@import "../_index.styl"

.checked-list__description
  position relative
  padding-left 31px

  +above($media-screen-desktop)
    padding-left 37px

  &:before
    pseudo()
    top 0
    left 0
    width 20px
    height 20px
    background url("../images/_modules/typography/lists/checked-list/icon-check.svg") no-repeat
    background-size contain

    +above($media-screen-desktop)
      left 0
      width 28px
      height 28px
